## Java
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*

## Test files
src/cihat/main/test/

## Eclipse
.settings/
bin/
tmp/
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath